tr.doubleSpendRow {
  cursor: pointer;
}

tr.doubleSpendRow:hover, tr.doubleSpendRow:hover>td {
  background-color: #007bff;
  color: white;
}

table.reorgDetail>tbody>tr>td:first-child {
  font-weight: bold;
}

table.doubleSpendTransaction>tbody>tr>td { 
  text-overflow:ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

table.doubleSpendTransaction>tbody>tr>td:nth-child(1), table.doubleSpendTransaction>tbody>tr>td:nth-child(4)  {
  width: 15%
}

table.doubleSpendTransaction>tbody>tr>td:nth-child(2), table.doubleSpendTransaction>tbody>tr>td:nth-child(3)  {
  width: 35%
}