hub/cmd/blockobserverhost/blockobserverhost
hub/cmd/stratumclienthost/stratumclienthost
stratum/cmd/client/client
stratum/cmd/server/server
*.log
blockobserver/cmd/observer/observer
blockfetcher/blockfetcher
api/api
api/cmd/testclient/testclient
coordinator/coordinator
blockfetcher/rpc.*
blockfetcher/run_local_prod.sh
jobcoinbase/jobcoinbase
localdocker/data
notes/paper/latex.out/*
confirmation-detector/confirmation-detector
docker-build-production.sh
debug.sh
docker-coindaemons/build-production.sh
blockfetcher/bulk*
docker-coindaemons/arrr/komodo*
docker-coindaemons/kmd/komodo*
blockfetcher/*.sh