tr.doubleSpendRow {
  cursor: pointer;
}

tr.doubleSpendRow:hover, tr.doubleSpendRow:hover>td {
  background-color: #007bff;
  color: white;
}

table.reorgDetail>tbody>tr>td:first-child {
  font-weight: bold;
}

table.doubleSpendTransaction>tbody>tr>td { 
  text-overflow:ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

table.doubleSpendTransaction>tbody>tr>td:nth-child(1), table.doubleSpendTransaction>tbody>tr>td:nth-child(4)  {
  width: 15%
}

table.doubleSpendTransaction>tbody>tr>td:nth-child(2), table.doubleSpendTransaction>tbody>tr>td:nth-child(3)  {
  width: 35%
}

@keyframes highlightGood {
  from { 
    background-color: #50ff50;
  } 
  to {
    background-color: #cdffcc;
  }
}

@keyframes highlightBad {
  from { 
    background-color: #ff5050;
  } 
  to {
    background-color: #ffcccb;
  }
}

td.goodHighlight {
  animation-name: highlightGood;
  animation-duration: 1.5s;
  background-color: #cdffcc;
  padding: 10px 0px;
}

td.good {
  background-color: #cdffcc;
  padding: 10px 0px;
}

td.badHighlight {
  animation-name: highlightBad;
  animation-duration: 1.5s;
  background-color: #ffcccb;
  padding: 10px 0px;
}

td.bad {
  background-color: #ffcccb;
  padding: 10px 0px;
}

div.time { 
  font-weight: bold;
  font-size: 12pt;
}

div.hashes {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.workHashPill {
  padding: 0px 10px;
  line-height: 15px;
  border-radius: 6px;
  font-weight: bold; font-size: 10pt;
  background-color: #80ff80;
}

div.container.legend {
  font-size: 9pt;
}